
body {
  background: #ffd700;

  background: -webkit-linear-gradient(
    0deg,
    #F5E7AD 0%,
    #f13b78 100%
  );

  background: -moz-linear-gradient(
    0deg,
    #F5E7AD 0%,
    #f13b78 100%
  );

  background: linear-gradient(
    0deg,
    #F5E7AD 0%,
    #f13b78 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto Slab", serif;
}
.logo {
  color: #ffd700;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  font-weight: 600;
  cursor: default;
}
.motto {
  font-family: "Roboto Condensed", sans-serif;
}
#tableSection {
  overflow-y: auto;
  scrollbar-width: thin;
}
.line {
  border: 1px black dashed !important;
}
@media (max-width: 400px) {
  #tableSection {
    clear: both;
  }
}
